
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive,sans-serif;
    line-height: 1.4;
    background-color: darkslateblue;

}
a{
    text-decoration: none;
    color: white;
}
p{
    margin: .75rem 0;
}

textarea{
    resize:vertical;
}
/*
::selection {
    background: rgba(193,27,102, .9);
    color: #FFF;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0  0 6px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
   background: rgba(193,27,102, .9);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(193,27,102, .5);
}
*/
/*UTITLITY CLASSES*/
.container {
    max-width: 1100px;
    margin: 0  auto;
    padding: 0 2rem;
    margin-top: 1.5rem;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align:justify;
}
.text-justify-center{
    text-justify: center;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary-color);
}

.bg-white{
    background: white;
    color: var(--secondary-color);
}
.bg-dark{
    background: var(--secondary-color);
    color: #FFF;
}
.bg-primary{
    background: var(--primary-color);
    color: #FFF;
}
.winner{
    color: green;
}
.looser{
    color: red;
}
.color-primary{
    color: var(--primary-color);
    background-color: white;
}
.color-secondary{
    color: var(--secondary-color);
}
.color-brown{
    color: var(--brown-color);
}
.color-light{
    color: #AAA;
}
.height-2-5{
    height: 2.5rem;
}
.height-4{
    height: 4rem;
}
.btn{
    display: inline-block;
    color: var(--secondary-color);
    background: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px;
    transition: background  .3s;
    font-size: 1rem;
    text-transform: uppercase;
    width: 12.1rem;
}
.btn.btn-dark{
    background: var(--secondary-color);
}
.btn:hover{
    background: #DDD;
    cursor: pointer;
}
.p-t-2{
    padding-top: 2rem;
}
.p-b-1{
    padding-bottom: 1rem;
}
.px-2{
    padding-right: 2rem;
}
.px-4{
    padding-left: 4rem;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-0{
    padding: 0;
}
.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.m-0{
    margin: 0;
}
.m-t-2{
    margin-top: 2rem;
}
.m-t-5{
    margin-top: 5rem;
}
.m-b-2{
    margin-bottom: 2rem;
}
.l-heading{
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: .75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.bold{
    font-weight:bold;
}
.bolder{
    font-weight: bolder;
}
.normal{
    font-weight: normal;
}
ul.list {
/*    margin: .5rem 0;*/
    list-style: none;
}
ul.list li{
/*    padding: .5rem 0;*/
/*    border-bottom: dotted 2px #444;*/
}
.sub-fonts{
    font-size: 1.1rem;
    color: #888;
    font-weight: normal;
}
.divide{
    background: var(--brown-color);
    height: 0.3rem;
    width: 15rem;
    margin: 30px 0;
}
.overlay-black{
    color: rgb(0,0,0,0.5);
}
/********************************************************************************
************************************SCORE-BOARD**********************************
********************************************************************************/
#score-board{
    background-color: #8cc2e3;
    color: white;
    height: 10rem;
    width: 44.7rem;
    padding: 1rem 1rem 10rem 2.4rem;
    margin-left: 8.6rem;
    display: grid;
    grid-template-columns: repeat(3,5rem);
    grid-gap: 5rem;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#score-board .player-1,#score-board .player-2{
    padding-top: 1.6rem;
}

#score-board .player-1 .box-1,#score-board .player-2 .box-2{
    border: solid 2px #888;
    background-color: #ddd;
    height: 4rem;
    margin-top: .5rem;
     box-shadow: 5px 5px 30px -8px black;
    text-align: center;
}
#score-board .player-1 .box-1,#score-board .player-2 .box-2{
    font-size: 3.3rem;
    text-align: center;
    line-height: 1.1;
    color: black;
}
#score-board .score-box .score-1,#score-board .score-box .score .score-2{
/*    border: solid 2px white;*/
/*    height: 4rem;*/
    width: 2.9rem;
    text-align: center;
    font-size: 4rem;
}
#score-board .score-box .score{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: .5rem;
    justify-content: center;
    align-content: center;
}
#score-board .score-box .score .partition{
    height: 2rem;
    background-color: black;
    width: .1rem;
    margin-top: 1.8rem;
}


/********************************************************************************
************************************GAME AREA**********************************
********************************************************************************/
#game-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #BADAEE;
    height: 30rem;
    width: 44.7rem;
    margin-left: 8.6rem;
    text-align: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
#game-area .box{
    height: 10rem;
    width: 14.9rem;
    border: 1px solid #62879E;
    font-size: 11rem;
    line-height: 6.8rem;
    cursor: pointer;
}
#game-area #box-7{
    border-bottom-left-radius: 2rem;
}
#game-area #box-9{
    border-bottom-right-radius: 2rem;
}
#startreset:active {
    background-color: #9c89f6;
    box-shadow: 0 0;
    top: 4px;
}

#startreset {
    font-size: 1.2rem;
    padding: 0 7rem;
    width:30rem;
    height: 38px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 16.6rem;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}
#startreset:hover{
/*    color: white;*/
    background: rgba(255,255,255,0.3);
    transition: background .2s;
}

/********************************************************************************
************************************MODES**********************************
********************************************************************************/
#modes{
    background-color: #f7d584;
    width: 30rem;
    margin-left: 17rem;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    position: absolute;
    top: 11rem;
    justify-content: center;
    display: none;
     box-shadow: 5px 5px 38px -3px black;
}
#modes .two-players,#modes .vs-computer{
    background: rgba(138,43,226,.7);
    cursor: pointer;
    padding: 1.5rem 0;
    font-size: 1.7rem;
    color: black;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: background 0.5s;
}
#modes .two-players:active,#modes .vs-computer:active{
   box-shadow: 5px 5px 30px -8px black;
}
#modes .two-players:hover,#modes .vs-computer:hover{
    background-color: rgba(138,43,226,.9);
    color:white;
    transition: color .5s;
}
/********************************************************************************
************************************GAME-OVER**********************************
********************************************************************************/
#game-over{
    background-color: #f7d584;
    width: 30rem;
    margin-left: 17rem;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 3rem;
    position: absolute;
    top: 15rem;
    font-size: 1.5rem;
    box-shadow: 30px 30px 50px -3px black;
    border: 1rem double blueviolet;
    display: none;
}
